.main{
    height: 75vh;
    width: 270px;
    background-color: rgba(209, 209, 250, 0.664);
    margin: 50px auto;
    border-radius: 35px;
    box-shadow: 5px 10px 26px 12px rgba(252, 227, 160, 0.87), 0px 0px 16px 16px rgb(204, 204, 247) inset;
    padding: 28px 10px;
}

.menu{
    background-color: rgb(253, 253, 253);
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.menu img{
    height: 20px;
    color: rgba(209, 209, 250, 0.664);
}

#pause{
    height: 25px;
}

.mid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 75%;
}

#menu{
    font-weight: 600;
}

#circle{
    background-color: rgb(204, 204, 247);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: auto;
}

.setting{
    border: 3px solid black;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setting img{
    height: 80px;
    margin-top: 20px;
}

/* doing display none for scrren so that they become visible on onClick only */

#cover-flow{
    display: none;
}

#music{
    display: none;
}

#setting{
    display: none;
}

#games{
    display: none;
}
